@import 'media';

.card-holder {
  max-width: 60%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  @include media('<1200px') {
    order: 2;
    margin: 50px 0 0;
    max-width: 70%;
  }
  @include media('<992px') {
    max-width: 100%;
  }
  @include media('<768px') {
    max-width: 100%;
  }
}

.card-wrapper {
  max-width: 50%;
  width: 100%;
  height: 220px;
  padding: 25px;

  border-radius: 15px;
  background-color: #fd435b;
  color: #f0f8ff;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media('<768px') {
    max-width: 70%;
  }
  @include media('<460px') {
    max-width: 100%;
    margin: 0 15px;
  }
  .front-side {
    & > header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img {
        width: 100%;
        max-width: 75px;
        vertical-align: top;
      }
    }

    & > main {
      .chip {
        max-width: 50px;
        padding: 5px 0;
        img {
          object-fit: cover;
        }
      }
      p {
        font: 100 22px/1.24em 'Titillium Web', sans-serif;
        letter-spacing: .5px;
        margin: 0;
        @include media('<768px') {
          font-size: 20px;
        }
      }
    }

    & > footer {
      width: 100%;
      display: flex;
      .card-info {
        &:not(:last-child) {
          margin: 0 30px 0 0;
        }
        .label {
          text-transform: uppercase;
          font-size: 8px;
        }
        p {
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }

  .back-side {
    position: absolute;
    right: -30px;
    top: 30px;
    z-index: -1;
    background-color: rgba(#ccc, .3);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    @include media('<460px') {
      right: -20px;
      top: 20px;
    }
    .line {
      margin: 30px 0 0;
      background-color: rgba(#ccc, .5);
      width: 100%;
      height: 40px;
    }
  }
}
