.flatpickr-rContainer { width: 100%; }
.flatpickr-monthSelect-months {
  display: flex;
  flex-wrap: wrap;
  .flatpickr-monthSelect-month {
    max-width: calc(100% / 3);
    width: 100%;
    display: block;
    text-align: center;
    color: #f0f8ff;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    &:hover,
    &.selected {
      background-color: rgba(#fff, .15);
    }
    &.disabled {
      background-color: rgba(#ccc, .7);
      cursor: not-allowed;
    }
  }
}
