.decor {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  transform: rotate(-35deg) translateY(-50%);
  opacity: .6;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(#fff, .75) 40%, rgba(#fff, .1) 100%);
  }
  & > div {
    border: 2px solid #fd435b;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:before {
      content: '';
      position: absolute;
      background-color: #F6B9C1;
      border-radius: 50%;
      box-shadow: 0 0 5px 0 rgba(#000, .3);
    }
  }
  .circle-1 {
    max-width: 500px;
    max-height: 500px;
    &:before {
      width: 2rem;
      height: 2rem;
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .circle-2 {
    max-width: 300px;
    max-height: 300px;
  }
  .circle-3 {
    max-width: 100px;
    max-height: 100px;
    &:before {
      width: 1rem;
      height: 1rem;
      left: -0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
