.form-holder {
  max-width: 40%;
  width: 100%;
  .form-row {
    width: 100%;
    justify-content: space-between;

    & > .form-group {
      max-width: 40%;
      width: 100%;
      position: relative;
    }
  }

  .form-group {
    margin: 0 0 45px;
    position: relative;
    label {
      position: absolute;
      z-index: 20;
      top: -15px;
      text-transform: uppercase;
      font-size: 10px;
    }
    .fas, .far {
      position: absolute;
      z-index: 20;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #fd435b;
    }
    &.has-danger {
      position: relative;
    }
  }

  .form-control {
    padding: 0 15px 0 35px;
    position: relative;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #fd435b;
    outline: none !important;
    &[readonly] { background-color: transparent !important; }
  }

  .btn {
    display: block;
    margin: 50px auto 0;
    max-width: 150px;
    width: 100%;
    background-color: #fd435b;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 8px;
  }

  .pristine-error {
    color: #fd435b;
    position: absolute;
    bottom: -25px;
    font-size: 12px;
  }

  .result-status {
    margin: 0;
  }
}
